[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"beautifulsoup4" = "*"
mysqlclient = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"

[scripts]
fix = "autopep8 -ivr ./src"
lint = "flake8 ./src"
